In [61]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations"

# the length of text1
len(text1)

75

In [62]:
# Return a list of the word in text2 ,sperarted by
text2 = text1.split()
len(text2)

13

- List comprehension allows us to find specific words:

In [63]:
# Words that are greater than 3 letters long in text2
[w for w in text2 if len(w)>3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [64]:
w = []
for w in text2:
    if len(w)>3

SyntaxError: invalid syntax (<ipython-input-64-27e3b559e4f1>, line 3)

In [65]:
# Words that are less than 3 letters long in text2
[w for w in text2 if len(w)<3]

['of']

In [66]:
# Words that are equal to 3 letters long in text2
[w for w in text2 if len(w)==3]

['are', 'the', 'and', 'the']

In [67]:
# Capitalized in words in text2
[ w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [68]:
# Words in text2 that is end with "s"
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [69]:
# Words in text2 that is start with "i"
[w for w in text2 if w.startswith("i")]

['into', 'ideals']

- We can find unique words using set()

In [70]:
text3 = "To be or not to be"
text4 = text3.split(' ')
len(text4)

6

In [71]:
len(set(text4))

5

In [72]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

-  .lower convertes strings in Lowercases

In [73]:
len(set([w.lower() for w in text4]))

4

In [74]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

-  .Upper covertes strings in Uppercase

In [75]:
# .Upper covertes strings in Uppercase
len(set([w.upper() for w in text4]))

4

In [76]:
set([w.upper() for w in text4])

{'BE', 'NOT', 'OR', 'TO'}

# Processing free-text

In [77]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')

text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

## Finding Hastags

In [78]:
[w for w in text6 if w.startswith('#')]

['#UNSG']

## Finding Callouts

In [79]:
[w for w in text6 if w.startswith('@')]

['@']

<b>We can use regular expressions to help us with more complex parsing.

For example '@[A-Za-z0-9_]+' will return all words that:

- start with '@' and are followed by at least one:
- capital letter ('A-Z')
- lowercase letter ('a-z')
- number ('0-9')
- or underscore ('_')

In [80]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

In [81]:
# import re - a module that provides support for regular expressions
import re 

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [82]:
[w for w in text8 if re.search('#[A-Za-z0-9_]+', w)]

['#UNSG']

# Working with Text Data in pandas

In [83]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [84]:
# Find the number of characters for each strings in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [85]:
# Find the number of tokens for each strings in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [86]:
# Find which entries contains the words "appointment"
df['text'].str.contains("appointment")

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [87]:
# Find how many times a disits occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [88]:
# Find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [89]:
# group the find all hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [90]:
# Replace weekdays in "???"
df['text'].str.replace(r'\w+day\b','???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [91]:
# replace weekdays with 3 letters abberviations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [92]:
# Creata a new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [93]:
# extract from the time ,the minutes and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [94]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am